## 1. How to import files

### List as an example

In [ ]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
        
# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
print(df)

In [ ]:
df.index = ["t", "n", "k", "j"]

In [ ]:
df

In [ ]:
df.loc[["t", 'n']]

In [ ]:
df.iloc[1:3]

In [ ]:
# importing pandas library
import pandas as pd
 
# creating and initializing a nested list
age_list = [['Afghanistan', 1952, 8.42, 'Asia'],
            ['Australia', 1957, 9.71, 'Oceania'],
            ['Brazil', 1962, 76.04, 'Americas'],
            ['China', 1957, 637.4, 'Asia'],
            ['France', 1957, 44.3, 'Europe'],
            ['India', 1952, 372, 'Asia'],
            ['United States', 1957, 171, 'Americas']]
 
# creating a pandas dataframe
countries = pd.DataFrame(age_list, columns=['Country', 'Year',
                                     'Population(million)', 'Continent'])
 
countries

In [ ]:
countries.index = ["AF", "AU", "BR", "CN", "FR", "IN", "US"]

In [ ]:
countries

In [ ]:
countries.loc[["AU", "IN"]]

In [ ]:
countries.iloc[1:3]

In [ ]:
countries[["Country"]]

### Basic info

The head/tail/info methods and the dtypes attribute are convenient for a first check.

In [ ]:
countries.info()

In [ ]:
countries.dtypes

head and tail

In [ ]:
countries.head() # 5 by default
countries.tail() # 5 by default

In [ ]:
# df.describe

In [ ]:
countries.sort_values(by=['Population(million)'])
#df.sort_values(by=['Population(million)'], ascending=False)

## 2. Indexing Dataframes

### Columns

In [ ]:
countries[["Continent", "Year"]]

In [ ]:
countries.iloc[:, 3]

### rows

In [ ]:
countries[countries["Population(million)"] > 100]

In [ ]:
countries[countries["Continent"] == "Asia"]

## 3. Creating a new column from existing column

In [ ]:
import pandas as pd

# Creating the dataset with student names
df1 = pd.DataFrame({
    'Student': ['Alice', 'Bob', 'Charlie'],
    'Maths': [9, 8, 7],
    'English': [4, 10, 6],
    'Science': [8, 7, 8],
    'History': [9, 6, 5]
})

In [ ]:
# Calculating the total score for each student and adding it as a new column 'Total'
df1['Total'] = df1[['Maths', 'English', 'Science', 'History']].sum(axis=1)

# Display the updated dataset
print(df1)

## Grouping and Aggregation

Suppose you have a DataFrame df with sales data for different stores and products:

In [ ]:
#del df1['Total']

data = {
    'Store': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Product': ['Apples', 'Oranges', 'Bananas', 'Apples', 'Bananas', 'Bananas'],
    'Sales': [10, 15, 9, 20, 14, 25]
}

df2 = pd.DataFrame(data)

In [ ]:
df2

You can group this data by the 'Store' column:

In [ ]:
grouped = df2.groupby('Store')

You can then print out each group:

In [ ]:
for name, group in grouped:
    print(f"Store: {name}")
    print(group)

Aggregation

After grouping the data, you might want to perform some calculations that summarize the groups. Common aggregations include sum, mean, median, min, and max.

Continuing with the grouped DataFrame above, you can calculate the total sales for each store:

In [ ]:
total_sales = grouped['Sales'].sum()
print(total_sales)

Multiple Grouping

You can also group by multiple columns. For example, grouping by both 'Store' and 'Product' gives a breakdown at a more detailed level:

In [ ]:
grouped_complex = df2.groupby(['Store', 'Product'])
total_sales_complex = grouped_complex['Sales'].sum()
print(total_sales_complex)

## Join

In [ ]:
# Create the first dataframe
df1 = pd.DataFrame({
    'EmployeeID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})

# Create the second dataframe
df2 = pd.DataFrame({
    'EmployeeID': [3, 4, 5, 6],
    'Department': ['HR', 'IT', 'Finance', 'Marketing']
})